@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body{
  background: #f2f2f2;
  min-height: 100vh;
}
header{
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 9999;
}
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .store{
  color: #ff3d00;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  .movies-store1{
    margin-left: 30px!important;
  }
  /* .category-card li{
    width: ;
  } */
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    color: black;
    text-align: center;
    background: #f2f2f2;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
    color: black;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px; 
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}

.movies-store1{
  max-width: 1550px;
  flex-direction: column;
  position: relative;
  padding-left: auto;
  padding-right: auto;
  top: 250px;
  margin: 0 auto;
}

  .category-card{
    max-width: 1550px;
    height: auto;
    display: flex;
    padding-top: 50px;
	  padding-left: auto;
	  padding-right: auto;
    margin: 0 auto;
	  background: #171c24;
  }
.category{
	padding-left: 10px;
  display: flex;
}
.div-category{
	font-size: 30px;
	font-weight: bold;
}
.category a {
  background-color:#171c24;
  padding:5px 10px; 
  color:rgb(197, 184, 184);
  font-weight: bold;
  text-decoration:none; 
  display:block; 
  width:80px; 
  text-align:center; 
  margin:0 auto;
  border-radius:5px; 
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  transition: 0.5s ease;
}

.category a:hover{
  opacity: 0.8;
  transform: scale(1.1);
}

#superheros li #play-icon{
  color: rgb(8, 214, 194);
  font-size: 60px;
  display: none;
  z-index: 10;
  margin:0 !important;
}

#superheros li:hover #play-icon{
  position: absolute;
  top: 100px;
  left: 80px;
  display: block;
  opacity: 1;
  transform: scale(1.1);
  z-index: 90;
}

#category-link1{
  color: black;
  background-color: rgb(8, 245, 221);
}
  
  #superheros { 
    list-style:none;
    height:auto;
  }


  #superheros li { 
    display:inline; 
    float:left;
    margin-bottom: 50px;
    perspective: 500;
    -webkit-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition-property: perspective;
    -webkit-transition-property: perspective;
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
  }
  
  #superheros li:hover
     {
      perspective: 5000;
      -webkit-perspective: 5000;
    }
   
  #superheros li img, 
  #superheros li .movie-info{ 
	  width: 200px;
	  height: 250px;
    border:5px solid #fcfafa; 
    border-radius: 5px;
    transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);
    transition-property: transform; 
    -webkit-transition-property: transform;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; 
  }
   
  #superheros li:hover img { 
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
	 opacity: 0.8;
  }
  #superheros li .movie-info{
	  height: 50px;
	  display: flex;
	  justify-content: space-around;
	  border: 1px!important;
	  background: white;
  }
   
  .heroinfo { 
    border: 2px solid rgb(245, 242, 242);
	  border-radius: 5px;
    padding:10px; 
    width:200px;
    height:250px; 
    background-color:white; 
    margin:-100px 0 0 15px; 
    position:absolute;
    display: none;
    z-index: 10;
    box-shadow:0 20px 40px #888; 
    -moz-box-shadow:0 20px 40px #888; 
    -webkit-box-shadow:0 20px 40px #888;
    transform: translateZ(30px) rotateY(30deg);
    -webkit-transform: translateZ(30px) rotateY(30deg);
     transition-property: transform, box-shadow, margin;
     -webkit-transition-property: transform, box-shadow, margin;
     transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
  }
  
  #superheros li:hover .heroinfo { 
    box-shadow:0 5px 10px #888; 
    -webkit-box-shadow:0 5px 10px #888; 
    margin:-260px 0 0 -240px !important;
    display: block;
    transform: scale(1.1);
  }

  #superheros li:hover #first-li { 
    box-shadow:0 5px 10px #888; 
    -webkit-box-shadow:0 5px 10px #888; 
    margin:-260px 0 0 240px !important;
    z-index: 999;
    display: block;
    transform: scale(1.1);
  }
   
  
  .heroinfo h3 {
    color:#7a3f3a; 
    font-variant: small-caps; 
    font-family:Georgia,serif,Times; 
    text-align:center; 
    padding-bottom:15px; 
  }
  .heroinfo p { 
    padding-bottom:15px; 
  }
  .heroinfo a { 
    background-color:#7a3f3a; 
    padding:5px 10px; 
    color:#eee; 
    text-decoration:none; 
    display:block; 
    width:80px; 
    text-align:center; 
    margin:0 auto;
    border-radius:5px; 
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
  }
  .heroinfo a:hover, .heroinfo a:focus {
    background-color:#6a191f; 
    color:#fff; 
  }